### Bytelab ###
build
.bljgdbinit

### CLion ###
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries
**/.idea/codeStyleSettings.xml
*.iws
cmake-build-debug

### Python ###
*.pyc

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.cbp
*.jdebug.user
*.orig
*.pdf


\.idea/

bsp/a_staro/

inc/a_staro/

lib/a_staro/

src/a_staro/

lib/fatfs_ff13a/documents/doc/

lib/fatfs_ff13a/documents/

lib/hal/CMSIS/Device/ST/STM32L4xx/Source/Templates/
tools/pc_interfacer/__pycache__/*

output/

*.swp
*.*.swp

#FSM
*.png

report
.blanalyzer_temp_local